/Unity Simulation/Traffic Light Simulation/Library
/Unity Simulation/Traffic Light Simulation/Temp
/Unity Simulation/Traffic Light Simulation/Assembly-CSharp-Editor.csproj
/Unity Simulation/Traffic Light Simulation/Assembly-CSharp-firstpass.csproj
/Unity Simulation/Traffic Light Simulation/Assembly-CSharp.csproj
/Unity Simulation/Pathing2.0/Library
/Unity Simulation/Pathing2.0/Temp
/Unity Simulation/Pathing2.0/Assembly-CSharp-Editor.csproj
/Unity Simulation/Pathing2.0/Assembly-CSharp-firstpass.csproj
/Unity Simulation/Pathing2.0/Assembly-CSharp.csproj
/Unity Simulation/Pathing2.0/Mirror.Authenticators.csproj
/Unity Simulation/Pathing2.0/Mirror.Cloud.csproj
/Unity Simulation/Pathing2.0/Mirror.CompilerSymbols.csproj
/Unity Simulation/Pathing2.0/Mirror.Components.csproj
/Unity Simulation/Pathing2.0/Mirror.Editor.csproj
/Unity Simulation/Pathing2.0/Mirror.Examples.Cloud.GUI.csproj
/Unity Simulation/Pathing2.0/Mirror.Examples.Cloud.Pong.csproj
/Unity Simulation/Pathing2.0/Mirror.Examples.csproj
/Unity Simulation/Pathing2.0/Mirror.Weaver.csproj
/Unity Simulation/Pathing2.0/Mirror.csproj
/Unity Simulation/Pathing2.0/Mirror.example.RigidbodyPhysics.csproj
/Unity Simulation/Pathing2.0/Ninja.WebSockets.csproj
/Unity Simulation/Pathing2.0/obj/Debug/Mirror.csprojAssemblyReference.cache 
