/Unity Simulation/Traffic Light Simulation/Library
/Unity Simulation/Traffic Light Simulation/Temp
/Unity Simulation/Traffic Light Simulation/Assembly-CSharp-Editor.csproj
/Unity Simulation/Traffic Light Simulation/Assembly-CSharp-firstpass.csproj
/Unity Simulation/Traffic Light Simulation/Assembly-CSharp.csproj
/Unity Simulation/Pathing2.0/Library
/Unity Simulation/Pathing2.0/Temp
/Unity Simulation/Pathing2.0/Assembly-CSharp-Editor.csproj
/Unity Simulation/Pathing2.0/Assembly-CSharp-firstpass.csproj
/Unity Simulation/Pathing2.0/Assembly-CSharp.csproj