.stat-wrapper {
    text-align: left;
    margin: 0 auto;
    padding: 0% 10% 0% 10%;
    margin-bottom: 200px;
}

.stat-wrapper > h2 {
    font-weight: bold;
    margin: 30px 0px 30px 0px;
}

.scene-wrapper {
    width: 100%;
}

.scene-stat-wrapper {
    background-color: #272424;
    width: 100%;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    height: 300px;
    color: white;
}

.chart-wrapper {
    background-color: #272424;
    width: 100%;
    padding: 20px;
    margin: 20px 0px 100px 0px;
}

.chart-wrapper > h4 {
    color: white;
}

.stat-type-title {
    font-size: 30px;
    font-weight: 600;
    color: #6387FF;
}